header {
    font-family: 'MS UI Gothic';
    font-size: 10px;
    color: #e1e3db;
    background: #070001;
}
.cartao {
    background: #f8fafc;
    border: 1px solid #edebe6;
    border-radius: 16px;
    box-shadow: 0 10px 24px rgba(15, 23, 42, 0.06);
    padding: 1.5rem;
    color: #0e0d0d;
    font-family:'Book Antiqua';
}
body {
    background: #e6e6e6;
}
